<div class="section-block" data-section="6" id="sec_twqhr1n">
    <span class="section-label" draggable="true">Section 06</span>
    <div class="section-toolbar">
      <button class="st-btn st-branch-btn" onclick="openSectionBranchMenu(this)" title="feature 브랜치로 실험">⎇</button>
    </div>
    <div class="section-inner">
      <div class="gap-block" data-type="gap" style="height: 150px;" id="gb_6yjmcp2" draggable="true"></div>
      
      
      <div class="row" data-layout="stack" draggable="true"><div class="col" data-width="100"><div class="icon-circle-block" data-type="icon-circle" id="icb_biu6txu" data-size="196" data-bg-color="#e8e8e8" data-border="none">
    <div class="icb-circle" style="width: 196px; height: 196px; background: rgb(232, 232, 232);">
      <span class="icb-placeholder">+</span>
    </div></div></div></div><div class="gap-block" data-type="gap" id="gb_u875jm6" draggable="true" style="height: 80px;"></div><div class="row" data-layout="stack" draggable="true"><div class="col" data-width="100"><div class="text-block" data-type="heading" id="tb_svbpjko" style="padding: 32px;">
    <div class="tb-h3" contenteditable="false" draggable="false" style="text-align: center;">소제목을 입력하세요</div></div></div></div><div class="row" data-layout="stack" draggable="true"><div class="col" data-width="100"><div class="text-block" data-type="body" id="tb_4lk349i" style="padding: 32px;">
    <div class="tb-body" contenteditable="false" draggable="false" style="text-align: center;">본문을 입력하세요. 본문을 입력하세요본문을 입력하세요본문을 입력하세요본문을 입력하세요본문을 입력하세요본문을 입력하세요본문을 입력하세요</div></div></div></div><div class="gap-block" data-type="gap" id="gb_ir6ubfv" draggable="true"></div><div class="gap-block" data-type="gap" id="gb_hm5uhd7" draggable="true"></div><div class="row" data-layout="stack" draggable="true" data-ratio-str="1*1" style="">
        <div class="col" data-width="100">
          <div class="asset-block" id="ab_ae53r3f" data-align="center" style="align-self: center; width: 92.56%; height: 796px; border-radius: 50px;" data-use-padx="true" data-base-height="860" data-size="100">
            
  <svg class="asset-icon" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="1">
    <rect x="3" y="3" width="18" height="18" rx="2"></rect>
    <circle cx="8.5" cy="8.5" r="1.5"></circle>
    <polyline points="21 15 16 10 5 21"></polyline>
  </svg>
            <span class="asset-label">에셋을 업로드하거나 드래그하세요</span>
          </div>
        </div>
      </div><div class="gap-block" data-type="gap" id="gb_zkgpo3h" draggable="true"></div><div class="gap-block" data-type="gap" style="height: 140px;" id="gb_yg190ic" draggable="true"></div>
    </div></div>