<div class="section-block" data-section="7" id="sec_hz79j91" data-name="Section 07" style="">
    <div class="section-hitzone"><span class="section-label" draggable="true">Section 07</span></div>
    <div class="section-toolbar"><button class="st-btn st-ab-btn" title="A/B 베리에이션 생성">A/B</button>
      <button class="st-btn st-branch-btn" onclick="openSectionBranchMenu(this)" title="feature 브랜치로 실험">⎇</button>
    </div>
    <div class="section-inner">
      <div class="gap-block" data-type="gap" style="height:100px" id="gb_jhjonub" draggable="true"></div>
      
      
      <div class="row" id="row_m49tyal" data-layout="stack" draggable="true"><div class="col" data-width="100"><div class="text-block" data-type="body" id="tb_mxt6e9v">
    <div class="tb-body" style="font-family:'Pretendard', sans-serif" draggable="false" contenteditable="false">LOGO</div></div></div><button class="row-col-add-btn" title="열 추가"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor" stroke-width="1.8"><line x1="6" y1="1" x2="6" y2="11"></line><line x1="1" y1="6" x2="11" y2="6"></line></svg></button></div><div class="gap-block" data-type="gap" id="gb_629iwb2" draggable="true" style="height: 700px;"></div><div class="row" id="row_r1az2ix" data-layout="stack" draggable="true"><div class="col" data-width="100"><div class="text-block" data-type="heading" id="tb_9klqbyx" data-custom-pad-l="1" data-custom-pad-r="1" style="padding-left: 40px; padding-right: 40px;">
    <div class="tb-h3" style="font-family: Pretendard, sans-serif; font-weight: 300; font-size: 46px;" draggable="false" contenteditable="false">보호대 유목민을 위한</div></div></div><button class="row-col-add-btn" title="열 추가"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor" stroke-width="1.8"><line x1="6" y1="1" x2="6" y2="11"></line><line x1="1" y1="6" x2="11" y2="6"></line></svg></button></div><div class="gap-block" data-type="gap" id="gb_yygc80n" draggable="true" style="height: 40px;"></div><div class="row" id="row_phiw8lo" data-layout="stack" draggable="true">
        <div class="col" data-width="100">
          <div class="text-block" data-type="heading" id="tb_mwsg42o" data-custom-pad-l="1" data-custom-pad-r="1" style="padding-left: 40px; padding-right: 40px;">
            <div class="tb-h1" draggable="false" contenteditable="false" style="font-size: 88px;">세이프본<div>슬개골</div><div>무릎보호대</div></div>
          </div>
        </div>
      <button class="row-col-add-btn" title="열 추가"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor" stroke-width="1.8"><line x1="6" y1="1" x2="6" y2="11"></line><line x1="1" y1="6" x2="11" y2="6"></line></svg></button></div><div class="gap-block" data-type="gap" style="height: 220px;" id="gb_enzf77m" draggable="true"></div>
    </div></div>